@import "tailwindcss";

@theme {
    --color-white: #FFFFFF;
    --color-blue-50: #C4DEFD;
    --color-blue-100: #4F9CF9;
    --color-blue-200: #043873;
    --color-blue-300: #111519;
    --color-yellow: #FFE492;

    /* BARAKANA */
    --breakpoint-md:320px;
    --breakpoint-lg: 768px;
    --breakpoint-xl:1152px;
    --breakpoint-2xl:1440px;
    --breakpoint-3xl:1920px;
}
.btn-primary{
    @apply py-4 px-10 bg-[#4f9cf9] text-white  rounded-lg hover:bg-[#043873] ;
}


